<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--等值线分析功能关系数据库配置-->
  <connectionStrings>
    <add name="ContourConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=guangxio;User Id=sa;Password=liuruoli;Provider=SQLOLEDB"/>
  </connectionStrings>
  <appSettings>
    <!--MapGIS IGServer服务器地址-->
    <add key="MapGisSvrIP" value="127.0.0.1"/>
    <!--MapGIS IGServer服务器端口-->
    <add key="MapGisSvrPort" value="6163"/>
    <!--等值线分析功能使用的地理数据库服务器类型-->
    <add key="datasource" value="MapGISLocal"/>
    <!--等值线分析功能使用的地理数据库名称-->
    <add key="ContourGarbageGdb" value="OpenLayerVecterMap"/>
    <!--等值线分析功能数据存储的要素数据集名称-->
    <add key="dsResult" value="ContourAnalyse"/>
    <!--等值线分析功能裁剪图层的地图-->
    <add key="ClipLayerPath" value="gdbp://MapGisLocal/OpenLayerVecterMap/sfcls/广西省级行政区.wp"/>
  </appSettings>

  <system.web>
    <compilation debug="true" >

    </compilation>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows" />
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
  </system.web>

</configuration>
