<?xml version="1.0"?>
    <MapURLConfig>
        <config>
            <TileUrl>http://127.0.0.1:6163/igs/rest/ims/relayhandler</TileUrl>
            <VectorUrl>http://127.0.0.1:6163/igs/rest/ims/relayhandler</VectorUrl>
            <isoimgUrl>../isogramImg.html</isoimgUrl>
            <BasicUrl>http://mt1.google.cn/vt/lyrs=m@182000000&hl=zh-CN&gl=cn</BasicUrl>
            <RasterUrl>http://mt0.google.cn/vt/lyrs=s@115&gl=cn</RasterUrl>
            <RoadUrl></RoadUrl>
            <TerrainUrl>http://mt0.google.cn/vt/lyrs=t@128,r@176116853&hl=zh-CN&gl=cn</TerrainUrl>
        </config>
    </MapURLConfig>